<%-include('../../partials/header.ejs')%>
    <%-include('../../partials/navbar.ejs')%>
        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>Novo artigo</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="/articles/save">
                        <input class="form-control" type="text" name="title" placeholder="título do artigo"><br>
                        <textarea id="article" class="form-control" name="body" placeholder="escreva seu artigo"></textarea><br>
                        <label><h6>Selecione uma categoria</h6></label>
                        <select name="category" class="form-control">
                            <% categories.forEach((category)=>{ %>
                                <option value="<%=category.id%>">
                                    <%= category.title %>
                                </option>
                                <% }) %>
                        </select><br>
                        <button class="btn btn-success">Cadastrar</button>
                    </form>
                </div>
            </div>

        </div>
        <%-include('../../partials/footer.ejs')%>
            <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin""></script>
        <script>
            tinymce.init({
                language: " pt_BR", selector: "#article",
                plugins: ["advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons"
                ]
            }) </script>